body {
  background: #e5e5e5;
}

/*Left Side */
.main {
  position: relative;
  margin: auto;
  width: 1440px;
  height: 1024px;
  background: #f3f5fc;
  overflow-x: hidden;
}

.victor1 {
  position: relative;
  left: 38px;
  top: 38px;
}
.leftInput {
  position: absolute;
  width: 577px;
  height: 48px;
  left: 240px;
  top: 168px;
  background-color: #f3f5fc;
  border: none;
  border-color: #0a3871;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  /* identical to box height, or 48px */

  /* Dark blue/dark-blue-300 */

  color: #0a3871;
}
::placeholder {
  color: #0a3871;
}

#textArea {
  position: absolute;
  width: 680px;
  height: 288px;
  left: 240px;
  top: 168px;
  text-align: left;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  color: #0a3871;
  overflow: hidden;
  border: none;
  background-color: #f3f5fc;
}

/*----------------------------*/

.soloimg {
  position: absolute;
  top: 862px;
  left: 240px;
}

.solo {
  position: absolute;
  top: 849px;
  left: 264px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #495057;

  opacity: 0.8;
}

.frame3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;

  position: absolute;
  width: 680px;
  height: 67px;
  left: 240px;
  top: 885px;
}

.btn1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
  width: 328px;
  background: #0a3871;
  border-radius: 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
}
.btn1:hover {
  scale: 1.05;
  cursor: pointer;
}

.btn2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
  width: 328px;
  background: #d8dfe8;
  border-radius: 24px;
  border: 1px solid #0a3871;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #0a3871;
}
.btn2:hover {
  scale: 1.05;

  cursor: pointer;
}

/*Right Side */
.right {
  display: flex;
  justify-content: center;
  justify-items: center;
  position: absolute;
  width: 400px;
  height: 944px;
  left: 1000px;
  top: 40px;

  /* White */

  background: #ffffff;
  /* shadow */

  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  border-radius: 32px;
}

.muneco {
  position: absolute;
  width: 336px;
  height: 304px;

  top: 283px;
}

.rightB {
  position: absolute;
  top: 653px;
}

.para {
  width: 336px;
  height: 58px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  color: #343a40;
  display: flex;
  justify-content: center;
  align-items: center;
}

.para2 {
  width: 336px;
  height: 48px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #495057;
}

.rightB2 {
  position: relative;
  bottom: 50px;
}

@media (width <= 786px) {
  body {
    background-color: #f3f5fc;

    overflow: calc(200px);
  }
  .main {
    height: 1147px;
    width: auto;
  }

  .victor1 {
    left: 0px;
  }

  .leftInput {
    left: 40px;
  }

  .right {
    position: relative;
    height: 133px;
    left: 30px;
    top: 1001px;
    width: 688px;
  }

  .para {
    position: relative;
    bottom: 650px;
    font-size: 26px;
    text-align: center;
    align-self: stretch;
    width: 624px;
    height: 29px;
    top: 10px;
  }

  .para2 {
    position: relative;
    width: 624px;
    bottom: 660px;
    height: 16px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */

    text-align: center;
    top: 10px;
  }

  .solo {
    left: 60px;
    top: 850px;
  }
  .soloimg {
    left: 40px;
  }

  .muneco {
    display: none;
  }

  .frame3 {
    left: 20px;
    top: 870;
  }

  .btn1 .btn2 {
    width: 332px;
    height: 67px;
  }

  .rightB {
    position: relative;
    top: 0px;
  }
}

@media (width <= 375px) {
  * {
    padding: 0;
    box-sizing: border-box;
  }

  body {
    margin: 0;
    min-height: 100vh;
    width: 375px;

    overflow-x: hidden;
  }
  .main {
    height: 900px;
    max-width: 375px;
    overflow: hidden;
  }

  .victor1 {
    position: relative;
    left: -32px;
    top: 24px;
  }

  .leftInput {
    position: absolute;
    width: 343px;
    height: 48px;
    left: 16px;
    top: 152px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
  }

  .note {
    position: relative;
    bottom: 500px;
    left: -20px;
  }

  .frame3 {
    top: 485px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .right {
    top: 607px;
    left: 15px;
    width: 327px;
    height: 186px;
  }

  .para {
    width: 263px;
    height: 58px;
    position: relative;
    left: 0px;
  }

  .para2 {
    width: 263px;
    height: 48px;
    position: relative;
    font-size: 16px;
  }
}
